.cart-container {
    padding: 20px;
    /* background-color: #f4f4f4; */
    color: #333;
}

h1 {
    color: #CD2F42;
    text-align: center;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.cart-table th, .cart-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.cart-table th {
    background-color: #CD2F42;
    color: white;
}

.cart-table td {
    background-color: white;
    color: #333;
}

.remove-button {
    background-color: #CD2F42;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #a22b34;
}

.increment-button, .decrement-button {
    background-color: #CD2F42;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.increment-button:disabled, .decrement-button:disabled {
    background-color: #f5c6cb;
    cursor: not-allowed;
}

.increment-button:hover:not(:disabled), .decrement-button:hover {
    background-color: #B02436;
}

.cart-total{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.cart-total h2{
    margin-top: 20px;
}

.cart-total button{
    background-color: #CD2F42;
    color: white;
    padding: 10px 10px;
    border: 2px solid #CD2F42 ;
    margin-top: 20px;
    margin-left: 20px;
    font-family:  'Poppins', sans-serif;
    font-weight: 700;
    cursor: pointer;
}


.cart-container .empty{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 30px;
}

@media (max-width: 700px) {
    .quantity-selector {
      flex-direction: column;
    }
  
    .increment-button, .decrement-button {
      padding: 5px 10px;
      margin: 5px 0;
      font-size: 14px;
      border-radius: 3px;
    }
  
    .quantity {
      font-size: 16px;
      margin: 5px 0;
      
    }
  }
  
  @media (max-width: 480px) {
    .increment-button, .decrement-button {
      padding: 5px 10px;
      margin: 5px 0;
      font-size: 12px;
    }
  
    .quantity {
      font-size: 14px;
      margin: 5px 0;
    }
  }