@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Poppins:ital,wght@0,100;0,200;0,300;1,100&display=swap');

.discount{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disc-img img{
    width: 450px;
    height: 300px;       
    margin-top: 50px;
}

.disc-img{
    border-left:5px solid rgb(202, 185, 185) ;
    margin-left: 30px;
}

.disc-box{
    display: flex;
    border: 5px solid rgb(202, 185, 185);
    height: 400px;
    width: 700px;
    background-color: #d3a0aa;
}

.disc-data p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left:80px;
    margin-top: 30px;
    font-size: 40px;
    font-family:  'Poppins', sans-serif;
}



/* .discount{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disc-img img{
    width: 450px;
    height: 300px;       
    margin-top: 50px;
}


.disc-box{
    display: flex;
    border: 5px solid rgb(202, 185, 185);
    height: 400px;
    width: 700px;
    background-color: #d3a0aa;
} */



.news{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-top: 100px;
    background-color: #f3acb6;
    background-color: #e9bec3;
}

.news-text{
    display: flex;
    flex-direction: column;
}

.news-text h2{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    color:#CD2F42 ;
    font-family:  'Poppins', sans-serif;
  
}

.news img{
    width: 300px;
    height: 400px;
    margin-left: 150px;
}

.news input{
    border-radius: 30px;
    padding: 10px 30px;
    margin-top: 30px;
    border: 2px solid #CD2F42;
    outline: none;
}

.news-text button{
    border-radius: 30px;
    margin-top: 20px;
    padding: 10px -0px;
    width: 100px;
    background-color:  #CD2F42;
    border:2px solid #CD2F42;
    cursor: pointer;
    font-family:  'Poppins', sans-serif;
}

.news-text button:hover{
    opacity: 0.8;
}


@media(max-width:608px){

    .discount{
        margin-left: -33px;
    }

    .disc-box{
        display: flex;
        border: 5px solid rgb(202, 185, 185);
        height: 450px;
        width: 300px;
        background-color: #d3a0aa;
    }

    .disc-img img{
        width: 350px;
        height: 250px;       
        margin-top: 170px;
        margin-left: -250px;
    }


    .disc-img{
        border-left:none;
        
    }

    .disc-data p{
        font-size: 20px;
        margin-top: -120px;
        
    }

    .disc-data {        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -100px;
        margin-left: 30px;
        font-size: 20px;
        font-family:  'Poppins', sans-serif;
    }
}




 



@media(max-width:480px){


    .discount{
        margin-left: -33px;
    }

    .disc-box{
        display: flex;
        border: 5px solid rgb(202, 185, 185);
        height: 450px;
        width: 300px;
        background-color: #d3a0aa;
    }

    .disc-img img{
        width: 350px;
        height: 250px;       
        margin-top: 170px;
        margin-left: -250px;
    }

    .disc-data {        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -100px;
        margin-left: 30px;
        font-size: 20px;
        font-family:  'Poppins', sans-serif;
    }
}  