 @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.feature h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CD2F42;
    margin-top: 100px;
    font-size: 40px;
    font-family: "Kaushan Script", cursive;
}

.feature-card img{
    width: 250px;
    height: 400px;
    margin-left: 50px;
    margin-top: -150px;

}

.feature-card{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    

}

.card{
    
    height: 400px;
    width: 350px;
    background-color: white;
    margin-left:30px ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 20px;
}

.card .saree{
    height: 350px;
    width: 250px;
    margin-top: -90px;
    margin-left: 55px;
}

.card .pant{
    height: 350px;
    width: 340px;
    margin-top: -80px;
    margin-left: 25px;
}

.card h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:  'Poppins', sans-serif;
    margin-top: 30px;
}

@media(max-width:1920px){

    .card{
        
        height: 450px;
        width: 500px;
        
    }

    .feature-card img{
       
       margin-left: 100px;
            
    }

    .card .saree{
        
        margin-left: 150px;
    }
    
    .card .pant{
       
        margin-left: 125px;
    }
}


@media(max-width:1400px){
    .feature h2{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #CD2F42;
        margin-top: 100px;
        font-size: 40px;
        font-family: "Kaushan Script", cursive;
    }
    
    .feature-card img{
        width: 250px;
        height: 400px;
        margin-left: 50px;
        margin-top: -150px;
    
    }
    
    .feature-card{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        
    
    }
    
    .card{
        
        height: 400px;
        width: 350px;
        background-color: white;
        margin-left:30px ;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        font-size: 20px;
    }
    
    .card .saree{
        height: 350px;
        width: 250px;
        margin-top: -90px;
        margin-left: 55px;
    }
    
    .card .pant{
        height: 350px;
        width: 340px;
        margin-top: -80px;
        margin-left: 25px;
    }
    
    .card h3{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family:  'Poppins', sans-serif;
        margin-top: 30px;
    }
}


@media(max-width:1208px){


    .feature-card img{
        width: 220px;
        height: 400px;
        margin-left: 50px;
        margin-top: -150px;
    
    }

    .card .saree{
        height: 350px;
        width: 220px;
        margin-top: -90px;
        margin-left: 55px;
    }

    .card{
    
        height: 400px;
        width: 300px;
       
    }
}


@media(max-width:1008px){

    .feature h2{

        margin-top: 200px;

    }

    .feature-card{
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 250px;
        
                 
    }

    .feature-card img{
        width: 250px;
        height: 400px;
        margin-left: 50px;
        margin-top: -150px;
    
    }


    .card{
    
        height: 400px;
        width: 350px;
        font-size: 20px;
        margin-top: 100px;
    }

    .card .saree{
        height: 350px;
        width: 250px;
        margin-top: -90px;
        margin-left: 55px;
    }
}



@media(max-width:808px){

    .feature h2{

        margin-top: 200px;

    }

    .feature-card{
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 150px;      
                 
    }


    .feature-card img{
        width: 250px;
        height: 400px;
        margin-left: 50px;
        margin-top: -150px;
    
    }


    .card{
    
        height: 400px;
        width: 350px;
        font-size: 20px;
        margin-top: 100px;
    }

    .card .saree{
        height: 350px;
        width: 250px;
        margin-top: -90px;
        margin-left: 55px;
    }
}


@media(max-width:658px){

    .feature h2{

        margin-top: 200px;

    }

    .feature-card{
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        justify-content: center;
        
        margin-left: 80px;         
    }

    .feature-card img{
        width: 250px;
        height: 400px;
        margin-left: 50px;
        margin-top: -150px;
    
    }


    .card{
    
        height: 400px;
        width: 350px;
        font-size: 20px;
        margin-top: 100px;
    }

    .card .saree{
        height: 350px;
        width: 250px;
        margin-top: -90px;
        margin-left: 55px;
    }
    
    

    
}




@media(max-width:600px){

    .feature h2{

        margin-top: 200px;

    }

    .feature-card{
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        justify-content: center;    
        margin-left: 30px;         
    }

    .feature-card img{
        width: 250px;
        height: 400px;
        margin-left: 50px;
        margin-top: -150px;
    
    }


    .card{
    
        height: 400px;
        width: 350px;
        font-size: 20px;
        margin-top: 100px;
    }

    .card .saree{
        height: 350px;
        width: 250px;
        margin-top: -90px;
        margin-left: 55px;
    }
    
    

    
} 



@media(max-width:480px){

       .feature-card{
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        justify-content: center;    
        margin-left: 10px;         
    }
    
} 


@media(max-width:390px){

    .feature{
        margin-left: -130px;
    }

    .feature h2{
        margin-left: 100px;
    }

    .feature-card{
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        justify-content: center;    
        margin-left: 10px; 
        padding: 100px;  
        margin-top: -100px;      
    }

    .card{
    
        height: 400px;
        width: 350px;
        font-size: 20px;
        margin-top: 100px;
        
    }

    .feature-card img{
        width: 250px;
        height: 400px;
        margin-left: 50px;
        margin-top: -150px;
    
    }

    .card .saree{
        height: 350px;
        width: 250px;
        margin-top: -90px;
        margin-left: 55px;
    }
    
    .card .pant{
        height: 350px;
        width: 340px;
        margin-top: -80px;
        margin-left: 25px;
    }
    
} 


@media(max-width:368px){

    .card{
    
        height: 400px;
        width: 320px;
        font-size: 20px;
        margin-top: 100px;
        margin-left: 40px;
       
        
    }
}
