.logos{
    height: 150px;
    background-color: white;
    margin-top: 50px;
}

.logos h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos img{
    height: 100px;
    width: 100px;
}

.logo-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:768px){
    .logo-img{
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
    }

    .logos img{
        height: 80px;
        width: 70px;
    }
}


@media(max-width:390px){
    .logo-img{
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
    }

    .logos img{
        height: 80px;
        width: 50px;
    }
}