.single-product img{
    width: 300px;
    height: 400px;
    transition: all  .4s ease-in-out;
}

.single-product img:hover{
    transform: scale(1.3);
}

.single-product{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.single-data{
    margin-left: 100px;
}

.single-data h1{
    color: #CD2F42;
    font-family:  'Poppins', sans-serif;
}

.single-data p{
    margin-top: 20px;
    margin-left: 20px;
    font-family:  'Poppins', sans-serif;
    font-weight: 700;
}

.single-data button{
    background-color: #CD2F42;
    color: white;
    padding: 10px 10px;
    border: 2px solid #CD2F42 ;
    margin-top: 20px;
    margin-left: 20px;
    font-family:  'Poppins', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.star-rating{
    display: flex;
    margin-top: 20px;
}



.product-sizes {
    margin-top: 10px;
    
}

.product-sizes p {
    margin-bottom: 5px;
    font-weight: bold;
}

.product-sizes label {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}



.product-sizes label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    line-height: 20px;
    
}

.quantity-controls span{
    margin-left: 20px;
}

.quantity-controls button{
    margin-left: 20px;
    border-radius: 20%;
}



.product-data-warranty {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.product-warranty-data{
    background-color:  #c0bcbc;
    color: black;
    border-radius:5px ;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 25px;
}

.dark-mode .product-warranty-data{
    background-color:  #312e2e;
    color: white;
}

.product-warranty-data .warranty-icon{
    background-color: white;
    color: #D2122E;
    height: 45px;
    width: 50px;
    padding: 10px 10px;
    border-radius: 50%;
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 70px;
   
}

@media(max-width:768px){

.single-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.single-data{
    margin-left: 20px;
    
}

.product-data-warranty {
    flex-direction: column;
   /* margin-left: -20px; */
   
}

.product-warranty-data {
    background-color:  #c0bcbc;
    color: white;
    border-radius:5px ;
    margin-left: 2px;
    margin-top: 20px;
    padding: 5px 5px;
}

.product-warranty-data .warranty-icon{
    
    height: 30px;
    width: 30px;
    padding: 10px 10px;
    border-radius: 50%;
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 70px;
   
}


}