* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.light-mode {
    background-color: #ffffff;
    color: #000000;
    background-color: #FFF5F7;
    background-color: #f7e6e9;
    
}

.light-mode .navbar{
    background-color: #CD2F42;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
    
}

.dark-mode .navbar{
    background-color: #D80032;
}

.dark-mode .upper-foot{
    background-color: #251f21;
    color: #f7e6e9;
}

.dark-mode .upper-foot a{
    color: #f7e6e9;
}

.dark-mode .lower-foot{
    background-color: #251f21;
    color: #f7e6e9;
}



.theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
}


.theme-toggle-btn  {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: transparent;
    color: white;
      
}

button:focus {
    outline: none;
}

input{
    padding: 10px;
    
}

.light-mode .product-card{
      background: #fff; 
      border: 1px solid #ddd;
}

.dark-mode .product-card {
    color: #f7e6e9;
    background-color: #251f21;
}


.dark-mode .product-card p{
    color: #f7e6e9;
    background-color: #251f21;
}


.dark-mode .form-container{
    background-color: #251f21;
}

.dark-mode .form-container input{
    color: #f7e6e9;
}

.dark-mode .email{
    background-color: #251f21;
    color: #ddd;
}
  
.dark-mode .phn{
    background-color: #251f21;
    color: #ddd;
}

.dark-mode  .address{
    background-color: #251f21;
    color: #ddd;
}

.dark-mode .cart-table td {
    color: white;
    background-color: #333;
}

.dark-mode .cart-total{
    color: white;
}

.dark-mode .bill-container{
    color: white;
    background-color: #333;
}

.dark-mode .details .input-data input
{
       
    border: none;
    outline: none;
    background-color: #333;
    border-bottom: 2px solid silver;    
   
}


.dark-mode .bill-container label{
    color: white;
    
}

.dark-mode .submitted-data{
    color: white;
    background-color: #333;
}

.dark-mode .card{
    color: white;
    background-color: #333;
}

.dark-mode .box1{
    background-color: #251f21 
}

.dark-mode .box2{
    background-color: #333;
}

.dark-mode .disc-box{
    background-color: #333; 
}

.dark-mode .news{
    background-color: #333; 
}

.dark-mode .news input{
    background-color: #333; 
    outline: none;
    color: white;  
}

.dark-mode .logos{
    background-color: #333; 
}

.dark-mode .prev{
    background-color: #333; 
  }

  .dark-mode .next{
    background-color: #333; 
  }

  .order{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

  .order p{
    margin-top: 20px;
  }